
mixin meta(page)
  title= page.title
  meta(name='description' content=page.description)
  link(rel='canonical'    href=page.url)

  //- Twitter
  meta(property='twitter:card'    content='summary')
  meta(property='twitter:site'    content='@prashnts')

  //- Open Graph
  meta(property='og:url'          content=page.url)
  meta(property='og:title'        content=page.title)
  meta(property='og:description'  content=page.description)
  meta(property='og:image'        content='https://noop.pw/img/icons/spock@3x.png')
