aside
  h2.company= xp.company
  p.location: +ispan('location', xp.location)
  p.dates
      +ispan('calendar', xp.dates.interval)
      span.duration #{xp.dates.duration}
  p.position= xp.position
  ul.tags: each tag in xp.tags
      li= tag
div.description
  !{xp.description}
  if xp.website
      p.website: +ilink('link', xp.website)
