extends templates/base.jade

block append content
  .resume
    header
      h1 #{vita.personal.name}
      p #{vita.personal.title}

    section
      h1 Web
      ul: each url, service in vita.urls
        li #[i.icon(class=service)] #{url}
    section
      h1 Info
      ul: each info, kind in vita.info
        li #[i.icon(class=kind)] #{info}

    section
      h1 Cover
      p=vita.cover

    section
      h1 Experience
      ul: each xp in vita.experience
        li
          aside
            h2.company= xp.company
            p.location= xp.location
            p.dates= xp.dates
            p.position= xp.position
            ul.tags: each tag in xp.tags
              li= tag
          div.description !{xp.description}

    section
      h1 Education
      ul: each edu in vita.education
        li
          aside
            h2.institute= edu.institute
            p.location= edu.location
            p.dates= edu.dates
            p.position= edu.position
          div.description
            h1.degree= edu.degree
            p.major Major: #{edu.major}
            ul.minors
              each minor in edu.minor
                li= minor

    section
      h1 Skills
      ul: each skset, kind in vita.skills
        li
          h2= kind
          ul: each sk in skset
            li #{sk[0]} #[i= '*'.repeat(sk[1]) + '.'.repeat(5 - sk[1])]
